::deep header {
    overflow: hidden;
}

    ::deep header a {
        color: var(--mud-theme-on-primary);
        text-decoration: none;
    }

        ::deep header a:hover,
        ::deep header a:focus,
        ::deep header a:active {
            text-decoration: none;
        }

::deep a:hover, ::deep a:active, ::deep a:focus {
    text-decoration: underline;
}

::deep .mud-button.active {
    color: #ccc;
    pointer-events: none;
}

.user-view ::deep .mud-avatar {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    margin-left: 8px;
}

.user-view ::deep .mud-menu {
    vertical-align: middle;
}

.user-view ::deep .mud-popover {
    position: fixed;
    right: 0;
    top: 60px;
}
