@inherits LayoutComponentBase

<div>
    <MudAppBar Position="Position.Static" Class="">
        <h1>ClickOnce Get</h1>
        <MudAppBarSpacer />
        <MudIconButton Icon="@Icons.Material.Person" Color="Color.Inherit" />
    </MudAppBar>
</div>
<div>
    @Body
</div>
