@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

    using (Html.BeginForm("SignOut", "Account", FormMethod.Post, new { id = "signOutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <a class="nav navbar-text navbar-right" href="javascript:document.getElementById('signOutForm').submit()">
            Sign out
        </a>
    }
    <div class="nav navbar-text navbar-right">Hello @User.Identity.GetUserName() !</div>
}
else if (ViewBag.HideSignInLink != true)
{
    <form action="@(Url.AppUrl(forceSecure: true))/Account/ExternalSignIn" class="navbar-right" id="signInForm" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" name="provider" value="GitHub" />
        <a class="nav navbar-text navbar-right" href="javascript:document.getElementById('signInForm').submit()" title="Sign in using your GitHub account">
            Sign in with GitHub
        </a>
    </form>
}
