body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* Animation */
.ng-enter {
    opacity: 0;
    -moz-transition: opacity linear 0.5s;
    -o-transition: opacity linear 0.5s;
    -webkit-transition: opacity linear 0.5s;
    transition: opacity linear 0.5s;
}

    .ng-enter.ng-enter-active {
        opacity: 1;
    }

.ng-leave {
    opacity: 1;
    -moz-transition: opacity linear 0.5s;
    -o-transition: opacity linear 0.5s;
    -webkit-transition: opacity linear 0.5s;
    transition: opacity linear 0.5s;
}

    .ng-leave.ng-leave-active {
        opacity: 0;
    }

.myapps-page h2 {
    float: left;
}

.myapps-page .goto-regist {
    margin-top: 1em;
    margin-bottom: 1em;
    float: right;
}

.myapps-page .apps-list {
    padding-top: 2em;
    clear: both;
}

/* Application List */
.a-app {
    height: 5em;
    display:block;
    clear:both;
}

.app-link {
    display: block;
}
.app-name {
    font-size:200%;
}

.timestamp {
    display: block;
}

.app-info {
    display: inline-block;
    float: left;
}

.commands {
    display:inline-block;
    float:right;
}
