@page "/"
@inject IClickOnceAppInfoProvider ClickOnceAppInfoProvider
<div class="home">
    <div class="jumbo-tron">
        <p>"ClickOnce Get" is a web site for publishing your ClickOnce applications.</p>
    </div>

    <ClickOnceAppList AppList="this.Apps" EnableAppDetailLink="true" />

</div>

@code {
    private IEnumerable<ClickOnceAppInfo> Apps = Enumerable.Empty<ClickOnceAppInfo>();

    protected override async Task OnInitializedAsync()
    {
        this.Apps = await this.ClickOnceAppInfoProvider.GetAllAppsAsync();
    }
}