.home {
    --jumbo-tron-height: 40px;
    --coget-applist-top: var(--jumbo-tron-height);
}

.jumbo-tron {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    padding: 0px 20px 10px 25px;
    background-color: var(--mud-palette-appbar-background);
    color: var(--mud-palette-appbar-text);
    height: var(--jumbo-tron-height);
}

    .jumbo-tron p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
