.jumbo-tron {
    font-size: 120%;
    font-weight: bold;
    padding: 0px 20px 10px 25px;
    background-color: var(--mud-palette-appbar-background);
    color: var(--mud-palette-appbar-text);
}

.apps-list {
    padding-top: 10px;
    background-color: #eee;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}
