.home {
    --jumbo-tron-height: 40px;
}

.jumbo-tron {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    padding: 0px 20px 10px 25px;
    background-color: var(--mud-palette-appbar-background);
    color: var(--mud-palette-appbar-text);
    height: var(--jumbo-tron-height);
}

    .jumbo-tron p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.apps-list {
    padding-top: 10px;
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    position: absolute;
    top: var(--jumbo-tron-height);
    bottom: 0;
    left: 0;
    right: 0px;
    overflow: auto;
}
