@{
    ViewBag.Title = "How to package and publish - " + Localize.SiteTitle;
}

<div class="how-to-package-body">
    @Html.Partial("HowToPackage_Partial")
    from <a href="@Url.Action("Regist", "Publish")">HERE &raquo;</a>
</div>