@{
    ViewBag.Title = "My Applications";
}
<div class="row myapps-page" ng-app="Home" ng-controller="MyApps" ng-cloak>
    <div class="col-md-12">
        <h2>My Applications</h2>

        <a href="@Url.Action("Register", "Publish")" class="btn btn-primary btn-lg goto-register">Register/Update Your ClickOnce Application &raquo;</a>

        <ul class="apps-list">
            <li ng-repeat="app in apps | orderBy:'-RegisteredAt'" class="a-app">

                <div class="commands">
                    <a href="@Url.Action("Edit", "Publish" )/{{app.Name}}" class="btn btn-default edit-appinfo">Edit</a>
                    <a href="#" ng-click="remove(app)" class="btn btn-default delete-app">Delete</a>
                </div>

                <div class="app-info">
                    <img alt="{{app.Title || app.Name}}" ng-src="/app/{{app.Name}}/icon" class="app-icon" />

                    <a href="/app/{{app.Name}}" class="btn btn-primary" title="Click here to start download, install, and launch the app.">
                        <span class="glyphicon glyphicon-play"></span> ClickOnce
                    </a>
                    
                    <a href="/app/{{app.Name}}/detail" class="app-link" title="goto application page.">
                        <span class="app-name">{{app.Title || app.Name}}</span>
                    </a>
                    <div class="description">{{app.Description}}</div>
                    <div class="project-url" ng-show="app.ProjectURL != null">
                        <a target="_blank" ng-href="{{app.ProjectURL}}">
                            {{app.ProjectURL}}
                        </a>
                    </div>
                    <span class="timestamp">
                        Downloads: {{app.NumberOfDownloads | number}} |
                        Update: {{app.RegisteredAt|date}} |
                        Published by
                        <a target="_blank" href="{{app.PublisherURL}}">
                            <img ng-src="{{app.PublisherAvatorImageURL || '/Content/images/no-image.png'}}" alt="{{app.PublisherName || '(anonymous)'}}" class="avator" />
                            {{app.PublisherName || '(anonymous)'}}
                        </a> |
                        <a target="_blank" ng-href="/app/{{app.Name}}/cert/{{app.Name}}.cer" class="code-signing">
                            Code Signing
                        </a>
                    </span>
                </div>
            </li>
        </ul>
    </div>
</div>


@section scripts {
    <script src="~/Views/Home/MyApps.js"></script>
    <script>
        sessionStorage.setItem('fromOfDetail', 'myApps');
    </script>
}

