body {
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-container {
    width: 100%;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

.mud-drawer .mud-nav-link-text {
    display: flex;
}

    .mud-drawer .mud-nav-link-text .mud-icon-size-medium {
        margin-right: 8px;
    }
