body {
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-container {
    width: 100%;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

    .form-container.large {
        max-width: 800px;
        padding: 0 24px 48px 24px;
    }

.mud-drawer .mud-nav-link-text {
    display: flex;
}

    .mud-drawer .mud-nav-link-text .mud-icon-size-medium {
        margin-right: 8px;
    }

/* ---- application bar, and footer ---- */
:root {
    --mud-appbar-slim-height: 56px;
    --coget-appbar-height: var(--mud-appbar-slim-height);
    --coget-footer-height: 48px;
}

@media (min-width: 600px) {
    :root {
        --coget-appbar-height: var(--mud-appbar-min-height);
    }
}

/* ---- application list ---- */
:root {
    --coget-app-list-backcolor: #eee;
}

/* ---- header icon ---- */
h2 svg {
    vertical-align: -4px;
}
/* ---- document styles ---- */

.document-style h3 {
    margin: 20px 0 10px 0;
}

.document-style p {
    margin: 10px 0;
}

.document-style a:hover {
    text-decoration: underline;
}

.document-style pre {
    margin-top: 4px;
    font-size: 14px;
    background-color: #eee;
    padding: 6px 10px;
    border-radius: 4px;
    overflow-x: auto;
    max-width: 100%;
}

.document-style img {
    margin-top: 8px;
    max-width: 100%;
}

.document-style ol {
    margin: 0 0 0 16px;
}

    .document-style ol li {
        padding: 8px 0;
    }

.document-style ul {
    margin: 0 0 0 16px;
    list-style: disc;
}
