@page "/"
@inject IClickOnceAppInfoProvider ClickOnceAppInfoProvider

<div class="jumbo-tron">
    <h1>ClickOnce Get</h1>

    <p>"ClickOnce Get" is a web site that is publishing point of your ClickOnce applications.</p>
</div>

<div>
    @foreach (var app in Apps)
    {
        <ClickOnceApp AppInfo="app" />
    }
</div>


@code {
    private IEnumerable<ClickOnceAppInfo> Apps = Enumerable.Empty<ClickOnceAppInfo>();

    protected override async Task OnInitializedAsync()
    {
        this.Apps = await this.ClickOnceAppInfoProvider.GetAllAppsAsync();
    }
}