::deep .mud-card {
    width: 420px;
    margin: 12px;
    display: inline-block;
}

::deep .mud-card-header {
    height: 70px;
    margin-top: 10px;
    padding-top: 0;
    padding-bottom: 0;
}

.project-url a {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow-x: hidden;
    margin-top: -20px;
    margin-bottom: 6px;
}

.description {
    height: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 112%;
}

.publisher {
    white-space: nowrap;
}

::deep .mud-avatar {
    display: inline-block;
    vertical-align: middle;
}

::deep .mud-card-content {
    padding-bottom: 0;
}

    ::deep .mud-card-content a {
        color: #428bca;
    }

.status-container {
    color: #777;
}

.download-count.status::after, .time-stamp.status::after, .publisher.status::after {
    content: '|';
    margin-left: 10px;
    margin-right: 4px;
    color: #ccc;
    font-size: 120%;
}

.cert-icon {
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url(images/cert-icon-16x16.png);
    padding-left: 20px;
}

    .cert-icon.invalid {
        background-image: url(images/cert-mono-icon-16x16.png);
    }

    .cert-icon.signed-by-publisher {
        background-color: #4caf50;
        color: white;
        padding: 3px 2px 4px 26px;
        background-position-x: 5px;
    }

::deep .mud-card-actions {
    justify-content: flex-end;
}
