<div class="form-container document-style">

    <h2><MudIcon Icon="@Icons.Material.Block" /> Not Authorized</h2>

    <p>
        <MudButton Link="auth/signin" Target="_top" Variant="Variant.Outlined">
            <MudIcon Icon="@Icons.Material.Login" />&nbsp;
            Sign in with GitHub
        </MudButton>
    </p>
</div>