<div class="form-container document-style">

    <h2><MudIcon Icon="@Icons.Filled.Block" /> Not Authorized</h2>

    <p>
        <SignInUrlProvider Context="SignInUrl">
            <MudButton Link="@SignInUrl" Target="_top" Variant="Variant.Outlined">
                <MudIcon Icon="@Icons.Filled.Login" />&nbsp;
                Sign in with GitHub
            </MudButton>
        </SignInUrlProvider>
    </p>
</div>
