<div>
    <MudDialog>
        <DialogContent>
            <MudText>"ClickOnce Get" <b>does not guarantee the safety of the programs</b> posted on this site.</MudText>
            <MudText>"ClickOnce Get" <b>cannot provide any compensation</b> even If you suffer damage such as <b>malware infection</b> by downloading and executing this program.</MudText>
            <MudText>Only check the checkbox below to continue downloading and executiong <b>if you are confident that the program you are trying to run is safe</b>.</MudText>
            <MudCheckBox Label="I UNDERSTAND." Class="understand-check-box" Color="Color.Secondary" @bind-Checked="Understood"></MudCheckBox>
        </DialogContent>
        <DialogActions>
            <MudButton OnClick="Cancel">Cancel</MudButton>
            <MudButton OnClick="Submit" Disabled="@(!Understood)" Color="Color.Primary" Variant="Variant.Outlined" EndIcon="@Icons.Filled.GetApp">
                ClickOnce
            </MudButton>
        </DialogActions>
    </MudDialog>
</div>

@code {

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }

    private bool Understood = false;

    void Cancel() => MudDialog.Cancel();

    void Submit() => MudDialog.Close(DialogResult.Ok(true));
}