@page "/documents/how-to-package"

<div class="form-container large document-style">

    <h2><a href="/documents"><MudIcon Icon="@Icons.Material.ImportContacts" /> Documents</a> | How to package and upload to this site your ClickOnce app?</h2>

    <HowToPackageContent />

    <p>
        <MudButton Variant="Variant.Outlined" Color="Color.Primary" Link="/myapps/upload">
            <MudIcon Icon="@Icons.Material.Publish" /> Upload your app
        </MudButton>
    </p>
</div>

@code
{
}
