@page "/documents"

<div class="form-container large document-style">
    <h2><MudIcon Icon="@Icons.Filled.ImportContacts" /> Documents</h2>
    <ul>
        <li><MudLink Href="/documents/how-to-package">How to package and upload to this site your ClickOnce app?</MudLink></li>

        <li><MudLink Href="/documents/signed-by-publisher">What does "signed by publisher" mean?</MudLink></li>

        <li><MudLink Href="/documents/how-to-sign-by-github-sshkey">How to sign your app by SSH key of your GitHub account?</MudLink></li>
    </ul>
</div>

@code
{
}
