@model ClickOnceGet.Models.ClickOnceAppInfo
@{
    var disclosePublisher = true;
    if (this.Request.Form.AllKeys.Contains("disclosePublisher"))
    {
        disclosePublisher = bool.Parse(this.Request.Form["disclosePublisher"]);
    }
    else if (Model != null)
    {
        disclosePublisher = !string.IsNullOrEmpty(Model.PublisherName);
    }
}
<div>
    <label for="Title">Title (optional)</label>
</div>
<div>
    @Html.TextBoxFor(m => m.Title)
</div>
<div>
    <label for="Description">Description (optional)</label>
</div>
<div>
    @Html.TextAreaFor(m => m.Description, new { rows = 7 })
</div>
<div>
    <label for="ProjectURL">Project URL (optional)</label>
</div>
<div>
    @Html.EditorFor(m => m.ProjectURL)
</div>
<div>
    <input type="checkbox" name="disclosePublisher" id="disclosePublisher" value="true" checked="@(disclosePublisher ? "" : null)" />
    <input type="hidden" name="disclosePublisher" value="false" />
    <label for="disclosePublisher">disclose publisher account name</label>
</div>

