@model ClickOnceGet.Models.ClickOnceAppInfo
@{
    ViewBag.Title = "Register";
}

@if (ViewData.ModelState.IsValid == false)
{
    <div class="alert alert-danger">
        @Html.ValidationSummary()
    </div>
}
@section head {
    <link href="~/Views/Publish/appinfo-form.css" rel="stylesheet" />
}

<h2>Upload Your ClickOnce Application that packaged as a Zip file.</h2>

<div class="register-app" ng-app="Publish" ng-controller="Register">
    <form id="register-form" method="post" action="@Url.Action("Register")" enctype="multipart/form-data">
        <p>
            <input type="file" name="zipedPackage" onchange="angular.element(this).scope().file_changed(this)" />
        </p>
        @Html.Partial("_AppInfoForm", Model)
        <p>
            <input type="submit" value="Begin Upload" id="btn-begin-upload" class="btn btn-success" ng-disabled="zipedPackage.src == ''" />
        </p>
    </form>

    <div ng-class='{"how-to-package-link":true, "showing":visibleHowToText}'>
        <a href="#" class="btn btn-default" ng-click="showHowToText()">
            How to package? Learn more &raquo;
        </a>
    </div>

    <div ng-class='{"how-to-package-body":true, "showing":visibleHowToText}'>
        @Html.Partial("~/Views/Home/HowToPackage_Partial.cshtml")
    </div>
</div>


@section scripts {
    <script src="~/Views/Publish/Register.js"></script>
}